$script:  'Long Cang', cursive;
$body-font: 'Lato', sans-serif;
$header-font: 'Farro', sans-serif;

$color-dark: #051C33;
$color-yellow: #E2964A;
$color-green: #60A595;
$main-color: rgb(45,70,113);
$grey: #5D5D5D;
$secondary-color: #607EB2;
$secondary-color-light: rgba(96,126,178,.6);
$overlay: rgba(0,0,0,0.7);
