/*
6. Contact Form "_contact.scss"
  6.1 Form Layout
  6.2 Media < 600px
*/

/* 6.1 Form Layout */
.contact-section{
  padding-bottom: 100px;
  padding-top: 20px;
  margin-top: 50px;
  background-color: $main-color;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  form{
  margin: 0 auto;
  text-align: left;
  width: 500px;
  input, textarea{
    padding: 10px;
    width: 100%;
  }
  input[type="submit"]{
    width: 200px;
    margin: auto;
  }
}
}

/* 6.1 Media < 600px */
@media (max-width: 600px) {
  .contact-section{
    form{
      width: 80vw;
    }
  }
}
