@media (max-width: 400px) {
  nav, .nav-links{
    flex-direction: column;
    align-items: center;
    padding: 0;
    z-index: 3;
    #header-logo{
      margin: 0;
    }
  }
  .change.hamburger-menu {
      transform: translateX(-23vw) translateY(5vh);
  }
  .project-button-bar{
    button{
      padding: 5px 10px;
    }
  }
}
