@media (max-width: 600px) {
  .about-bullet{
    flex-direction: column;
    min-width: none;
    text-align: center;
  }
  .link{
    font-size: 1em;
  }
  .resume{
    .education-section, .experience-section{
      text-align: left;
    }
  .skill{
    width: 40%;
    }
    .skill-list{
      padding-left: 0;
      margin-bottom: 100px;
    }
  }
  .contact-section{
    form{
    width: 80vw;
  }
}
.hamburger-menu{
    display: block;
  }
  .nav-links.closed {
    position: absolute !important;
    top: -200px !important;
    height: 0;
    overflow: hidden;
  }
  .nav-links {
    position: absolute;
    top: -25px;
    background-color: $main-color;
    width: 100%;
    transition: all .6s ease-out;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5em;
    z-index: 1;
  }
  .link{
    padding-top: 10px;
    width: 100vw;
    &:hover{
      font-weight: bold;
      transition: all 0.3s ease-in-out 0s;
    }
    &:before {
      content: "";
      position: absolute;
      width: 50%;
      height: .1em;
      bottom: 0;
      left: 25%;
      background-color: white;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }
  }
  .active .link {
    font-weight: bolder;
    text-decoration: underline;
    border: none;
  }
  .overlay.hidden{
  height: 0;
  width: 100%;
  opacity: 0;
  }

  .overlay{
    background-color: black;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top:0;
    bottom: 0;
    opacity: .5;
    z-index: -1;
    transition: all .5s ease-out;
  }
  #nav-header{
    flex-direction: row;
    z-index: 3;
  }
}

@media (max-width: 900px) {
  #greeting{
    width: 80%;
  }
  #about-me{
  width: 80%;
  }
  .project-card{
    width: 900px;
  }
  .resume{
    grid-template:"header"
                  "education"
                   "experience"
                   "skills";
    .skill{
      width: 20%;
    }
    .skill-list{
      width: 100%;
      justify-content: center;
      margin-bottom: 100px;
    }
  }
}
