/*
Table of Contents:
0. Preamble
  0.1 Fonts
  0.2 Sass Variables

1. Global Styles
  1.1 Sass variables

2. Navigation Styles
  2.1 Link Styles

3. Component Styles
  3.2 Project Cards

4 Responsive Styles
  4.1 Cell Phones
*/

/* 0. Preamble*/

/* 0.1 Fonts */

@import url('https://fonts.googleapis.com/css?family=Farro|Lato|Long+Cang&display=swap');
/* 0.2 Sass Variables */

$script:  'Long Cang', cursive;
$body-font: 'Lato', sans-serif;
$header-font: 'Farro', sans-serif;

$color-dark: #051C33;
$color-yellow: #E2964A;
$color-green: #60A595;
$main-color: #2D4671;
$secondary-color: #607EB2;
$secondary-color-light: rgba(96,126,178,.6);
$overlay: rgba(0,0,0,0.7);

/* 1. Global Styles */
.App{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  height: 100%;
}


body{
  font-family: $body-font;
  background-color: lightgrey;
}

h1, h2 {
  font-family: $header-font;
}

/* 2. Navigation Styles*/
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: $main-color;
  color: white;
}

.nav-links{
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 2.1 Link Styles */
.link{
  position: relative;
  font-size: 1.4em;
  &:hover{
    font-weight: bold;
    transition: all 0.3s ease-in-out 0s;
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  &:focus{
    text-decoration: underline white solid;
  }

}


.active .link {
  font-weight: bolder;
  border-bottom: 3px solid  white;
}

.link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* 2.2 Transition Styles */

.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
}

/* 3. Component Styles */

.text-container{
  margin: auto;
}

/* 3.1 About Me */

.about-bullet{
  display: flex;
  flex-direction: row;
  margin: 20px;
  text-align: left;
  align-items: center;

  i{
    margin-right: 10px;
  }
}

#greeting{
  h2{
    font-family: $script;
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 20px;
  }
  width: 40%;
  align-self: center;
  min-width: 300px;
}

#about-me{
  width: 40%;
  min-width: 300px;

}

.about-container{
  position: relative;
  background-color: white;
  left: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 25px;
}


/* 3.2 Project Cards */

.projects{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  max-width: 800px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.project-card{
  box-shadow: 5px 5px 15px rgba(0,0,0,.5);
  height: 100%;
  width: 300px;
  margin: 50px;
}

a > .project-card-header{
  text-decoration: none;
}

.project-card-header{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;

  .project-card-overlay {
    position: relative;
    color: white;
    bottom: -100%;
    background-color: $overlay;
    overflow: hidden;
    height: 100%;
    transform: translateY(0);
    transition: all .6s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 0;
    opacity:0;
  }

  .project-name {
    margin: 0;
    padding: 10px;
    background-color: white;
    color: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,.5);
    background-color: $secondary-color;
    z-index: 1;
  }

  .project-description{
    padding: 0 20px 0 20px ;
    margin: 0;
  }

  &:hover .project-card-overlay{
  transform: translateY(-121%);
  opacity: 1;
  }

}

.project-button-bar{
  background-color: white;
  z-index: 1;
  box-shadow: -5px 0px 15px rgba(0,0,0,.5);
  background-color: $secondary-color-light;
  button{
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 10px;
    border-color: black;
    font-weight: bold;
    background-color: $secondary-color;
    color: white;
    transition: background-color .3s ease;
    &:hover{
      background-color: $main-color;
    }
  }
}



.project-skills {
  text-align: left;
  margin: 0;
  background-color: white;
  padding: 20px;
  height: 200px;

  h3{
    margin: 0;
  }
}

/* 4 Responsive Styles */

/* 4.1 Cell Phones */

@media (max-width: 400px) {
  nav, .nav-links{
    flex-direction: column;
    align-items: center;
    padding: 0;

    #header-logo{
      margin-bottom: 0;
    }
  }

  .link{
    padding-top: 10px;
    width: 100vw;
  }
}

@media (max-width: 600px) {
  .about-bullet{
    flex-direction: column;
    min-width: none;
    text-align: center;
  }
}

@media (max-width: 900px) {
  #greeting{
    width: 80%;
  }
  #about-me{
  width: 80%;
  }
  .project-card{
    width: 900px;
  }
}
