/*
Table of Contents:
0. Preamble
  0.1 Fonts
  0.2 Sass Variables

1. Global Styles

2. Navigation Styles "_menu.scss"
  2.1 Link Styles
  2.2 Mobile Menu
  2.3 Active Link Styles
  2.4 Media < 600px
  2.5 Media < 400px

3. About Me "_about.scss"
  3.1 About Page styles
  3.2 Media < 900px
  3.3 Media < 600px

4. Projects Page "_projects.scss"
  4.1 Project Cards
    4.1.1 Title and Image
    4.1.2 Hover Overlay
    4.1.3 Buttons
    4.1.4 Skills Section
  4.2 Media < 750px
  4.3 Media < 400px

5. Resume Page "_resume.scss"
  5.1 Resume Layout
  5.2 Skills list
  5.3 Media < 900px
  5.4 Media < 600px
  5.5 Media < 400px

6. Contact Form "_contact.scss"
  6.1 Form Layout
  6.2 Media < 600px
*/

/* 0. Preamble*/

/* 0.1 Fonts */
@import url('https://fonts.googleapis.com/css?family=Farro|Lato|Long+Cang&display=swap');

/* 0.2 Sass Variables */
@import "colors";

/* 1. Global Styles */
.App{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
  height: 100%;
}


body{
  font-family: $body-font;
  background-color: lightgrey;
}

h1, h2 {
  font-family: $header-font;
}

a{
  text-decoration: none;
  color: $main-color;
  &:hover{
    font-weight: bold;
  }
}

.text-container{
  margin: auto;
}

/* 2. Navigation Styles */
@import "menu";

/* 3. Component Styles */

/* 3.1 About Me */
@import "about";

/* 3.2 Project Cards */
@import "projects";

/* 3.3 Resume */
@import "resume";

/* 3.4 Contact */
@import "contact";
